{% extends "basic.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} About  | {% endblock title %} </title>
</head>
<body>
    {% block body %}
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">My Awesome Cart</h1>
            <p>Welcome to our online store. Explore our products and add them to your cart.</p>
          </div>
        </div>
      
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-11">
              <h2>Laiba"s Ecommerce Website</h2>
             <h3> DOur Mission</h3>
<P>
                Our mission is to provide you with an effortless and enjoyable online shopping journey. We strive to offer a diverse range of products, competitive prices, and excellent customer service.
                
               <h3> Quality and Trust</h3>
                
                We believe in the quality of our products and the trust our customers place in us. Every item in our inventory is carefully selected to meet our high standards. We aim to build lasting relationships with our customers based on trust, reliability, and satisfaction.
                
             <h3>   Customer Satisfaction</h3>
                
                Your satisfaction is our top priority. Our dedicated customer support team is here to assist you with any inquiries or concerns you may have. We value your feedback and continuously work to enhance our services to meet and exceed your expectations.
                
               <h3> Thank You for Choosing My Awesome Cart!</h3>
                
                Whether you're a returning customer or exploring our store for the first time, we appreciate your visit. Thank you for choosing My Awesome Cart  for your online shopping needs. We look forward to serving you and providing an exceptional shopping experience.
                
                Happy Shopping! </p>
            </div>
          </div>
      
          <hr>
      
        </div> <!-- /container -->
      
      </main>
      
      <footer class="container">
        <p>&copy; Company 2017-2020</p>
      </footer>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
      </html>    
    {% endblock body %}
</body>
</html>
